body {
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    color: #3f3f3f;
    margin: 0px;
}
a {
    color: #3f3f3f;
    text-decoration: none
}
button {
        background-color: rgb(10, 118, 133);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        height: 30px;
        padding: 5px 9px;
        border: none;
        border-radius: 8px;
        color: white;
        margin: 10px;
      }

button:hover {
    background-color: rgb(12, 129, 145);
}

button:active {
    background-color: rgb(8, 104, 117);
}
